nalaf==0.5.4
# -e git+https://github.com/Rostlab/nalaf.git@682a965891de5a60408f5df762772f5face800ee#egg=nalaf
# -e ../nalaf/
#
beautifulsoup4==4.6.0
boto==2.48.0
boto3==1.5.6
botocore==1.8.20
bz2file==0.98
certifi==2017.11.5
chardet==3.0.4
cloudpickle==0.5.2
cymem==1.31.2
docopt==0.6.2
docutils==0.14
elasticsearch==6.0.0
gensim==0.13.3
hdfs==2.1.0
idna==2.6
jmespath==0.9.3
murmurhash==0.26.4
nltk==3.2.1
numpy==1.11.2
pathlib==1.0.1
plac==0.9.6
preshed==0.46.4
progress==1.3
python-crfsuite==0.8.4
python-dateutil==2.6.1
requests==2.18.4
s3transfer==0.1.12
scikit-learn==0.18.1
scipy==0.18.1
semver==2.7.9
six==1.11.0
smart-open==1.5.6
spacy==1.2.0
sputnik==0.9.3
thinc==5.0.8
ujson==1.35
urllib3==1.22
virtualenv==15.1.0
